/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#songProgressBar {
  -fx-accent: lightblue;
}

Button {
    -fx-background-color: rgb(255, 210, 127);
    -fx-text-align: center;
}

Button:hover {
    -fx-background-color: rgb(234, 193, 116);
}

.iconButton {
  -fx-min-width: 32;
  -fx-min-height: 32;
  /* -fx-background-color: transparent; */
  -fx-background-repeat: no-repeat no-repeat;
  -fx-background-size: 28 28;
  -fx-background-position:center;
}

#playButton {
  /* -fx-background-image: url("assets/icons/playButton/play-circle-normal.png"); */
}

#playButton.pause {
  /* -fx-background-image: url("/assets/icons/playButton/pause-circle-normal.png"); */
}

#playButton:hover.pause {
  /* -fx-background-image: url("/assets/icons/playButton/pause-circle-hover.png"); */
}
