/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.primary-views {
    -fx-background-color: linear-gradient(#5F88E8, #5FB4E8);
}

#player-view {

}

#playlist-view {

}

#control-view, #time-control-view {
	-fx-background-color: grey;
}

.icon-button{
  -fx-min-width: 32;
  -fx-min-height: 32;
  /* -fx-background-color: transparent; */
  -fx-background-repeat: no-repeat no-repeat;
  -fx-background-size: 28 28;
  -fx-background-position:center;
}
#shuffle-button {
    border-color: red;
}

#shuffle-button.activated, #repeat-button.activated {
    -fx-background-color: green;
}

#play-button.play {
	-fx-background-image: url("/assets/icons/playButton/play-circle-normal.png");
}

#play-button:hover.play {
	-fx-background-image: url("/assets/icons/playButton/play-circle-hover.png");
	-fx-background-color: black;
}

#play-button.pause {
  -fx-background-image: url("/assets/icons/playButton/pause-circle-normal.png");
}

#play-button:hover.pause {
  -fx-background-image: url("/assets/icons/playButton/pause-circle-hover.png");
}
