#shuffleButton.activated, #repeatButton.activated, #muteButton.activated {
    -fx-background-color: green;
}

#currentTimeLabel, #songLengthLabel {
    -fx-font-size: 10;
}

#playButton {
    -fx-font-size: 14;
}